<!DOCTYPE html>
<html>
<head>
	<title>DC</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  	<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  	<script src="assets/js/main.js"></script>
	
	<style>
		html {
  			scroll-behavior: smooth;
		}
	</style>
</head>
<body ng-app="myApp">
	<div class="navigation_bar" id="navvv">
		<a href="index.html" id="nav_heading1" style="font-family: Segoe Print, sans-serif;">DC&emsp;</a>
		<a href="#home" id="nav_heading2">HOME&emsp;</a>
		<a href="#about" id="nav_heading3">ABOUT ME&emsp;</a>
		<a href="#project" id="nav_heading4">PROJECTS&emsp;</a>
		<a href="#connect" id="nav_heading5">CONNECT WITH ME</a>
	</div>

	<div class="menu-wrap">
	    <input type="checkbox" class="toggler">
	    <div class="hamburger"><div></div></div>
	    <div class="menu">
	        <div>
		        <div>
		          <ul>
		            <li><a href="#home">HOME</a></li>
		            <li><a href="#about">ABOUT ME</a></li>
		            <li><a href="#project">PROJECTS</a></li>
		            <li><a href="#connect">CONNECT WITH ME</a></li>
		          </ul>
		        </div>
	        </div>
	    </div>
    </div>

    <button class="btn btn-floating" id="btn_to_top" onclick="to_top()">
	    <i class="fa fa-arrow-up"></i>
	</button>

	<!-- Background image -->
	<div id="home" class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');height: 100vh;">
		<div class="home">
			<p class="type text-white">Hello! &#128075<br></p>
			<p class="type text-white">I am <b style="font-family: 'Philosopher', sans-serif;">Divya Chhoriya</b></p>
		</div>
	</div>

	<div>
	    <ul class="circles">
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	    </ul>
	</div>

	<div id="about">
		<div class="about about_display1">
		<p style="font-size: 50px; color: #cc0052;font-family: 'Philosopher', sans-serif;" data-aos="fade-down" data-aos-duration="1000">About Me</p><br>
		<div class="row align-items-center">
		    <div class="col" style="background: url(https://www.andyhooke.co.uk/wp-content/uploads/2018/02/yellow-brushstroke.png);background-repeat: no-repeat;background-size: 100% 95%;">
		        <img src="images\pic3.jpeg" class="mypic1" style="width: 20vw;height: 30vw;border-radius: 50%;">
		    </div>
		    <div class="col">
		    	<div data-aos="fade-left" data-aos-duration="1000";>
		    		<p style="font-size: 1.7vw;text-align: left;font-family: 'Montserrat', sans-serif;">Hey, glad to see you here! &#128075</p>
			      	<p style="font-size: 1.25vw;text-align: left;font-family: 'Montserrat', sans-serif;">I am Divya Chhoriya. I am a Machine Learning and Front-end development enthusiast. I developed my interest by making small projects on machine learning using different models and on front-end web development using HTML5, CSS3 & JavaScript.</p>
			      	<p style="font-size: 1.25vw;text-align: left;font-family: 'Montserrat', sans-serif;">Currently I am working on Deep learning models and simultaneously learning Advanced Web programming.</p>
			      	<p style="font-size: 1.25vw;text-align: left;font-family: 'Montserrat', sans-serif;">I am also an Open source contributor at GWOC and SWOC. I have contributed more than 15 projects to GirlScript Winter of Contribution 2021 and was selected as one of the top 10 contributors in 'Data Science with Python' domain.</p><br><br>
		    	</div>
		        <a href="https://drive.google.com/file/d/10SSVUlOg5Q6mr_O7kudXw_FAavq8MX0P/view?usp=sharing"><button class="button_style" data-aos="fade-up" data-aos-duration="1000">My Resume</button></a>
		    </div>
		</div><br><br><br>

		<h1 style="text-align: left;font-family: 'Philosopher', sans-serif;" data-aos="fade-right" data-aos-duration="1000">My Skills</h1><br>
		<div ng-controller="skillsController">
			<div data-aos="fade-up" data-aos-duration="1000" ng-repeat="s in skillDetails">
				<div class="card skills">
				    <div class="card-body">
				    	<img src="{{s.img}}" data-mdb-toggle="tooltip" title="s.title">
				    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="about about_display2">
		<p style="font-size: 50px; color: #cc0052; font-family: 'Philosopher', sans-serif;" data-aos="fade-down" data-aos-duration="1000">About Me</p><br>
		<div class="align-items-center">
		    <div class="row" style="background: url(https://www.andyhooke.co.uk/wp-content/uploads/2018/02/yellow-brushstroke.png);background-repeat: no-repeat;background-size: 80% 85%;">
		        <img src="images\pic3.jpeg" class="mypic1" style="width: 20vw;height: 30vw;border-radius: 50%;margin-left: 20vw;">
		    </div>
		    <div class="row">
		    	<div data-aos="fade-left" data-aos-duration="1000">
		    		<p style="font-size: 20px;text-align: left;font-family: 'Montserrat', sans-serif;">Hey, glad to see you here! &#128075</p>
			      	<p style="font-size: 15px;text-align: left;font-family: 'Montserrat', sans-serif;">I am Divya Chhoriya. I am a Machine Learning and Front-end development enthusiast. I developed my interest by making small projects on machine learning using different models and on front-end web development using HTML5, CSS3 & JavaScript.</p>
			      	<p style="font-size: 15px;text-align: left;font-family: 'Montserrat', sans-serif;">Currently I am working on Deep learning models and simultaneously learning Advanced Web programming.</p>
			      	<p style="font-size: 15px;text-align: left;font-family: 'Montserrat', sans-serif;">I am also an Open source contributor at GWOC and SWOC. I have contributed more than 15 projects to GirlScript Winter of Contribution 2021 and was selected as one of the top 10 contributors in 'Data Science with Python' domain.</p><br>
		    	</div>
		        <button class="button_style" data-aos="fade-up" data-aos-duration="1000">My Resume</button>
		    </div>
		</div><br><br>

		<h1 style="text-align: left; font-family: 'Philosopher', sans-serif;" data-aos="fade-right" data-aos-duration="1000">My Skills</h1><br>
		<div ng-controller="skillsController">
			<div data-aos="fade-up" data-aos-duration="1000" ng-repeat="s in skillDetails">
				<div class="card skills">
				    <div class="card-body">
				    	<img src="{{s.img}}" data-mdb-toggle="tooltip" title="s.title">
				    </div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<br><br>
	<div id="project" class="project">
		<p style="font-size: 50px;color: #cc0052;text-align: center;font-family: 'Philosopher', sans-serif; float: left; padding-top: 50px; padding-bottom: 30px;" data-aos="fade-down" data-aos-duration="1000">My Projects</p><br>
		<section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\e-com.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>MyFashion - E-commerce website</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/divya-chhoriya/E-commerce-website"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\wine.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Wine Quality Prediction</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/divya-chhoriya/Wine-Quality-Prediction"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\heart.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Heart Disease Prediction</h4>
                <div class="portfolio-links">
                <a href="https://github.com/girlscript/winter-of-contributing/tree/Datascience_With_Python/Datascience_With_Python/Machine%20Learning/Projects/Heart%20Disease%20Prediction"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\movie.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Movie Recommendation System</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/girlscript/winter-of-contributing/tree/Datascience_With_Python/Datascience_With_Python/Machine%20Learning/Projects/Movie%20Recommendation%20Systems"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\sentiment.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sentiment Analysis</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/girlscript/winter-of-contributing/tree/Datascience_With_Python/Datascience_With_Python/Natural%20Language%20Processing/Tutorials/Sentiment%20Analysis"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\mnist.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>MNIST Digit Classification</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/girlscript/winter-of-contributing/tree/Datascience_With_Python/Datascience_With_Python/Natural%20Language%20Processing/Projects/MNIST%20Digits%20Classification"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="images\credit.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Credit Card Fraud Detetction</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/girlscript/winter-of-contributing/tree/Datascience_With_Python/Datascience_With_Python/Machine%20Learning/Projects/Credit%20Card%20Fraud%20Detection"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

	</div>

	<div id="connect">
		<p style="font-size: 30px; color: #993333;font-family: 'Philosopher', sans-serif;text-align: center; padding-top: 60px;" data-aos="fade-down" data-aos-duration="1000">Have any project in mind?<br>Let's build it together!</p><br>
		<div class="container1">
		  <img src="images\connect.jpg" class="connect_img" style="margin-bottom: 0px">
		</div>
		<p style="font-size: 30px; color: #993333;font-family: 'Philosopher', sans-serif;text-align: center; padding-top: 60px;" data-aos="fade-down" data-aos-duration="1000">Drop me a mail or DM me on LinkedIn <i class="fa fa-arrow-down"></i></p><br>
	</div>

	<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social">
                    	<a href="https://github.com/divya-chhoriya"><i class="fa fa-github"></i></a>
                    	<a href="https://www.linkedin.com/in/divya-chhoriya-0aa457213"><i class="fa fa-linkedin"></i></a>
                    	<a href="https://twitter.com/divya_c21"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
                <p style="opacity:0.3;text-align: center;font-style: italic;">© 2021 Copyright - Divya Chhoriya &emsp;</p>
            </div>
        </footer>
    </div>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
	    AOS.init();
	</script>

	<script src="main.js"></script>

</body>
</html>